{% extends 'Front.html.twig' %}

{% block body %}
<section class="appoinment section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mt-3">
                    <div class="feature-icon mb-3">
                        <i class="icofont-support text-lg"></i>
                    </div>
                    <span class="h3">Call for an Emergency Service!</span>
                    <h2 class="text-color mt-3">+216 505 177 03 </h2>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
                    <h2 class="mb-2 title-color">Inscription</h2>
                    <p class="mb-4">Santiana est une clinique moderne et professionnelle dédiée à fournir des soins de santé de haute qualité à tous nos patients.  Pour vous inscrire en tant que patient, vous pouvez simplement remplir notre formulaire d'inscription.</p>
                    {{ form_start(f,{attr:{novalidate:"novalidate"}})}}
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{form_widget(f.nom,{'attr':{'class':'form-control','placeholder':'Nom'}})}}
                                    {{form_errors(f.nom,{'attr':{'class':'text-danger'}})}}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{form_widget(f.prenom,{'attr':{'class':'form-control','placeholder':'Prenom'}})}}
                                    {{form_errors(f.prenom,{'attr':{'class':'text-danger'}})}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{form_widget(f.email,{'attr':{'class':'form-control','placeholder':'Email'}})}}
                                    {{form_errors(f.email,{'attr':{'class':'text-danger'}})}}

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{form_widget(f.username,{'attr':{'class':'form-control','placeholder':'username'}})}}
                                    {{form_errors(f.username,{'attr':{'class':'text-danger'}})}}

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    {{form_widget(f.pass,{'attr':{'class':'form-control','placeholder':'pass'}})}}
                                    {{form_errors(f.pass,{'attr':{'class':'text-danger'}})}}

                                </div>
                            </div>

                            <br><br>

                            {{form_widget(f.ajouter,{'attr':{'class':'btn btn-main btn-round-full'}})}}
                            {{form_widget(f.Reset,{'attr':{'class':'btn btn-main btn-round-full'}})}}

                            {{ form_end(f)}}
                </div>
            </div>
        </div>
    </div>

    </div>
</section>
{% endblock %}