{% extends 'base.html.twig' %}

{% block title %}Liste des partenaires
{% endblock %}

{% block body %}
	<form action="{{ path('app_partenaire_index') }}" style="float: right;" method="get">
		<input type="text" name="q" placeholder="Search for products" value="{{ query }}">
		<button class="btn btn-lg btn-primary m-2" type="submit" style="float: right;">Search</button>
	</form>
	<div class="bg-light rounded h-100 p-4">
		<h1>Liste des partenaires</h1>


		<table class="table">

			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Email</th>
					<th>Supprimer</th>
					<th>Modifier</th>
				</tr>
			</thead>

			<tbody>
				<a class="btn btn-lg btn-primary m-2" href="{{ path('app_partenaire_new') }}">Create

				</a>


				{% for partenaire in partenaires %}
					<tr>
						<td>{{ partenaire.id }}</td>
						<td>{{ partenaire.nom }}</td>
						<td>{{ partenaire.email }}</td>


						<td>

							<a class="btn btn-lg btn-primary m-2" href="{{ path('app_partenaire_edit', {'id': partenaire.id}) }}">
								Edit
							</a>

						</td>


						<td>

							<a class="btn btn-lg btn-primary m-2" href="{{ path('app_partenaire_delete', {'id': partenaire.id}) }}">
								Delete
							</a>

						</td>


					</tr>

				{% endfor %}

			</tbody>
		</table>

		<div style="  display: flex;
																				  justify-content: center;
																				  margin-top: 20px;"></div>
	{% endblock %}
