{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
   <label class="form-label">nom</label>

{{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
{{ form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}
<label class="form-label">prenom</label>

{{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
{{ form_errors(form.prenom,{'attr':{'class':'text-danger'}}) }}


<label class="form-label">email</label>
{{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
{{ form_errors(form.email,{'attr':{'class':'text-danger'}}) }}

<label class="form-label">CV</label>
{{ form_widget(form.cv,{'attr':{'class':'form-control'}}) }}
{{ form_errors(form.cv,{'attr':{'class':'text-danger'}}) }}

<label class="form-label">IdService</label>
{{ form_widget(form.IdService,{'attr':{'class':'form-control'}}) }}
{{ form_errors(form.IdService,{'attr':{'class':'text-danger'}}) }}


		<style>
			.my-button {
				background-color: <?php echo $color; ?>
				;
				color: blue;
				border: none;
				padding: 10px 20px;
				border-radius: 5px;
				cursor: pointer;
			}
		</style>

		<button class="btn btn-lg btn-primary m-2" type="submit" >Save</button>

	</div>
{{ form_end(form) }}
