{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    <h1>Candidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCand</th>
                <td>{{ candidat.idCand }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ candidat.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ candidat.prenom }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{{ candidat.cv }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidat.email }}</td>
            </tr>
            <tr>
                <th>IdService</th>
                <td>{{ candidat.idService }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('candidat/_delete_form.html.twig') }}

	<div>
		<style>
			.my-button {
				background-color: <?php echo $color; ?>
				;
				color: blue;
				border: none;
				padding: 10px 20px;
				border-radius: 5px;
				cursor: pointer;
			}
		</style>

		<a class="my-button" style="float: right;" href="{{ path('app_candidat_index') }}">back to list</a>
	</div>

	{# <a href="{{ path('app_candidat_edit', {'idCand': candidat.idCand}) }}">edit</a> #}


{% endblock %}


