{% extends 'basefront.html.twig' %}
{% block body %}

<section class="section service-2">

	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
                 {% for ce in cc %}
					<img src="{{ asset('assets/'~ce.image) }}" alt="" class="img-fluid">
                    
					<div class="content">
						
                        <h4 class="mt-4 mb-2 title-color">Debut de repos : {{ce.datedeb|date}}</h4>
                        <h4 class="mt-4 mb-2 title-color">Fin de repos : {{ce.datefin|date}}</h4>
                         
                        <td></td>
						<p class="mb-4">Medecin:Dr.{{ ce.medecin.nom}}</p>
                        <p class="mb-4">Patient:M.{{ce.patient.nom}}</p>
                        
				






                </div>
               
                
				</div>
                 {% endfor %}
                
			</div>
			 <form class="d-none d-md-flex ms-4"method="post" action="">
               <a   class="btn btn-primary m-2" href="{{asset('/listrdvpdf')}}">  <i class="fas fa-file-pdf"></i>  ImprimerPDF  </a>
			   </form>
             
		</div>
       
	</div>
   
</section>
 

                              


{% endblock %}